.footer {
    background-color: black;
    color: #fff;
    padding: 150px 0;
    border-radius: 20px 20px 0 0;
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: 20px;

    .mobile-text {
        display: none;
    }

    .sections {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 0%;
        flex-wrap: wrap;
        margin-right: 200px;
        
    }

}

.social-icons {
    display: flex;
    justify-content: end;
    margin-top: 30px;
    margin-right: 100px;
    
   
}

// .second-line{
//     background-color: black;
//     color: black;
// }

.social-icons i {
    font-size: 20px;
    margin-right: 10px;
    
    
    
}

.icon-container{
    margin-right: 1rem;
   
}

.btn {
    border-color: white;
    border-radius: 50px;
    background-color: black;
    color: white;
    margin-bottom: 60px;
    padding: 15px 20px;
}

.button {
    border-color: white;
    border-radius: 50px;
    background-color: red;
    color: white;
    margin-bottom: 60px;
    padding: 15px 20px;
    margin-right: 500px;
}
// Dyes Junior

@media only screen and (max-width:768px) {

    .mobile-text {
        display: block;
        margin-top: 1rem;
    }
    .Hq, .contact, .brands {
        display: none;
      }
    
      .activities, .navigation {
        width: 100%;
        float: none;
      }
    .line{
        display: none;
    }
    .elewa-text{ 
        // text-align: center;
        text-align: justify;
        margin-top: -190px;
        margin-bottom: -45px;
        // background-color: red;
        margin-left: 50px;
        float: left;
        
    }

    .social-icons {
        display: block;
        text-align: center;
        margin: 10px auto;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        left: 150px;
        // margin-left: 900px;
    }
}

.elewa-text {
    float: left;
    margin-right: 900px;
    margin-top: -3%;
    margin-left: 0px;
}
.top-footer{
    align-items: center;
    margin-left: 40%;
    margin-bottom: 10%;
}

.text{
    margin-right: 50px;
}

.line{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: -50px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.text-center {
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    margin-top: 20px;


}

hr {
    border-top: 1px solid green;

    margin-top: 40px;
    margin-bottom: 40px;
}

.row {
    display: flex;
    align-items: center;
    margin-right: 500px;
    justify-content: space-between;
}
