.footer {
    background-color: black;
    color: #fff;
    padding: 50px 0;

    

    .sections {
        display: flex;
        // align-items: center;
        justify-content: space-around;
        width: 100%;
        // margin-left: 5%;
        margin-top: 0%;
        // margin-right: 15%;
        
    }

    // display: flex;
    // align-items: center;
    // justify-content: space-between;
}

.top-footer{
    align-items: center;
    margin-left: 40%;
    margin-bottom: 10%;
}

.text{
    margin-right: 50px;
}

.line{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;

    // display: flex;
    // align-items: center;
    // justify-content: space-between;
}

.text-center {
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    margin-top: 20px;

    // display: flex;
    // align-items: center;
    // justify-content: space-between;
}

hr {
    border-top: 1px solid green;

    margin-top: 40px;
    margin-bottom: 40px;
}

.row {
    display: flex;
    align-items: center;
    margin-right: 500px;
    justify-content: space-between;
}