<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital@1&display=swap" rel="stylesheet">

<!-- <p>footer works!</p> -->
<footer class="footer">
    <div class="conatiner">

        <div class="top-footer">
            <div class="text">
                <h1>do you want to be part of <br/> our mission</h1>

            </div>

            <div class="container">
                <button class="btn">Become an investor &nbsp; <div class="circle"><i class="fa fa-arrow-right"></i></div> </button>
            </div>

        </div>
        
        

        
        <div class="line">
            <hr>
        </div>

        <div class="sections">
            <div class="Hq">
                <div class="col-sm-3">
                    <h5>Heaquaters</h5>
                   
                    <br/>
    
                    <p>The Ngong' lane plaza</p>
                    <p>Mathenge Road</p>
                    <p>Nairobi</p>
    
                </div>
            </div>
            

            <!-- The contact section -->
            <div class="contact">
                <div class="col-sm-3">
                    <h5>Contact</h5>
                    <br/>
    
                    <p>T- 0705545722</p>
                    <p>Elewa@info.co.ke</p>
                </div>
            </div>
            
            <div class="mobile-text">
                <div class="col-sm-3">
                    <h2>Navigation</h2>
                </div>
            </div>
            
            <!-- The activities part -->
            <div class="activity">
                <div class="col-sm-3">
                    <h5>Activities</h5>
                    
                    <br/>
    
                    <p>About us</p>
                    <p>Social imput</p>
                    <p>Invest</p>
                    <p>News</p>
                    <p>Contact</p>
                </div>
            </div>
            

            <!-- The barnds section -->
            <div class="brands">
                <div>
                
                    <h5>Brands</h5>
                    <br/>
    
                    <p>Elewa</p>
                    <p>italanta</p>
                    <p>Venture labs</p>
                </div>
            </div>
            

            <!-- The privacy section -->
            <div class="privacy">
                <div class="col-sm-3">
                    <h5>Privacy</h5>
                    <br/>
                    <p>Terms and connditions</p>
                    <p>Cookie policies</p>
                </div>
            </div>

            
            

           
        </div>

        
        
        <!-- <p class="text-center">&copy; {{ year }} {{ companyname}}</p> -->
        <div class="social-icons">
            <!-- <span class="elewa-text">
                <h2>Elewa Group</h2>
            </span> -->

            <span class="icon-container">
                <a href="#!" role="button"
            ><i class="fab fa-facebook-f fa-lg"></i
            ></a>
                <!-- <i class="fab fa-facebook f"></i> -->
            </span>

            <span class="icon-container">
                <a href="#!" role="button"
                ><i class="fab fa-instagram fa-lg"></i
                ></a>
                <!-- <i class="fab fa-instagram"></i> -->
            </span>

            <span class="icon-container">
                <a href="#!" role="button"
                ><i class="fab fa-linkedin fa-lg"></i
                ></a>
                <!-- <i class="fab fa-linkedin-in"></i> -->
            </span>

            <!-- <span class="elewa-text">
                <h2>Elewa Group</h2>
            </span>   -->
        </div>

        <span class="elewa-text">
            <img src="https://res.cloudinary.com/dyl3rncv3/image/upload/v1675690297/elewa-group-website/Icons/SVG/_Logo/Logo_White_arvoyx.svg" alt="">
            <!-- <h2>Elewa Group</h2> -->
        </span>

        
        
    </div>
    

</footer>
