<!-- <p>footer works!</p> -->
<footer class="footer">
    <div class="conatiner">

        <div class="top-footer">
            <div class="text">
                <h1>do you want to be part of our mission</h1>

            </div>

            <div class="text-center">
                <button class="btn btn-primary">Become an investor</button>
            </div>
        </div>
        
        

        
        <div class="line">
            <hr>
        </div>

        <div class="sections">
            <div class="col-sm-3">
                <h5>Heaquaters</h5>
                <br/>
                
                <p>The Ngong' lane plaza</p>
                <p>Mathenge Road</p>
                <p>Nairobi</p>

            </div>

            <!-- The contact section -->
            <div class="col-sm-3">
                <h5>Contact</h5>
                <br/>
                <p>T- 0705545722</p>
                <p>Elewa@info.co.ke</p>
            </div>

            <!-- The activities part -->
            <div class="col-sm-3">
                <h5>Activity</h5>
                
                <br/>
                <p>About us</p>
                <p>Social imput</p>
                <p>Invest</p>
                <p>NEws</p>
                <p>Contact</p>
            </div>

            <!-- The barnds section -->
            <div>
                
                <h5>Brands</h5>
                <br/>
                <br/>
                <p>Elewa</p>
                <p>italanta</p>
                <p>Venture labs</p>
            </div>

            <!-- The privacy section -->
            <div class="col-sm-3">
                <h5>Privacy</h5>
                <br/>
                <p>Terms and connditions</p>
                <p>Cookie policies</p>
            </div>

           
        </div>

       
        <!-- <p class="text-center">&copy; {{ year }} {{ companyname}}</p> -->
        <!-- <div class="text-center">
            <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
            <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
            <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
            <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
        </div> -->
    </div>

</footer>
